<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ranjun1999.personalutils.dao.UserDao">
    <insert id="insertUser" parameterType="User">
        insert into user(userId,userName)  values(#{u.userId}, #{u.userName})
    </insert>

    <select id="selectPageVo" resultType="com.ranjun1999.personalutils.model.User" >
        select user_id,user_name,password,email from user
    </select>
</mapper>
